.turinys
{
    position: relative;
    padding-top: 6px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

h3
{
    font-family: Rockwell, 'Arial Narrow Bold', sans-serif;
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p.monospace
{
    font-family: consolas;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 6px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

p.cursive
{
    font-family: 'Ink free';
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 6px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

h4
{
    font-family: 'Calibri', fantasy;
    color: indianred;
    text-align: center;
}

a
{
    text-decoration: none;
}

a.raudonas
{
    color: red;
    text-transform: uppercase;
}

a:hover
{
    text-decoration: underline;
    cursor: pointer;
}

a:active
{
    color: black;
}

a:visited
{
    color: purple;
}

.fonas-kvadrateliai
{
    border: solid indigo 1px;
    border-radius: 8px;
    width: 100%;
    min-height: 200px;
    background-color: #e5e5f7;
    opacity: 0.8;
    margin: 14px;
    background-image:  linear-gradient(indigo 1px, transparent 1px), linear-gradient(to right, indigo 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

.fonas-linijos
{
    border: solid indigo 1px;
    border-radius: 8px;
    width: 100%;
    min-height: 200px;
    background-color: #e5e5f7;
    opacity: 0.8;
    margin: 14px;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, indigo, indigo 1px, #e5e5f7 1px, #e5e5f7);

}

div.kaireje
{
    display: inline-block;
    width: 49%;
    position: relative;
    padding-top: 6px;
}

div.desineje
{
    display: block;
    width: 49%;
    float: right;
}

img
{
    height: 200px;
    width: auto;
    border: 1px solid indigo;
    border-radius: 8px;
}

img.veidas
{
    position: absolute;
    right: 16px;
    top: 16px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.pelyte-sirdis
{
    cursor: url("sirdis.cur"), auto;
}

